.container {
    height: 60px;
    max-width: 1340px;
    margin: 0 auto;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoTitle {
    font-size: 20px;
}

.buttonNavRight {
    border: none !important;
}

.buttonGroup {
    position: relative !important;
    padding-right: 18px;
}
.sub{
    position: absolute !important;
    left: 0;
    top:50px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 5px;
    background-color: #fff;
    z-index: 3;

}

.dropDownLanguage, .dropDownCurrency {
    position: absolute;
    left: 10px;
    top: 40px;
    z-index: 2 !important;
    height: 30px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.dropDownCurrency{
    left: 70px;
}